.contenedor-titulo-clase {
  margin: 30px 0;
}
.texto-error-horas,
.texto-error-minutos,
.texto-error-segundos {
  min-height: 21px;
  display: block;
}
.contenedor-mensaje-final {
  margin: 15px 0;
  text-align: start;
}
#oculto {
  display: none;
}
