body{
    background-color: cadetblue;
}
.contenedor{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 80px;
    width: max-content;
    height: max-content;
}
.calcular-tiempo{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 10px;
    height: max-content;
    width: max-content;
    background-color: antiquewhite;
}
.calcular-tiempo__titulo{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.calcular-tiempo__horas,
.calcular-tiempo__minutos,
.calcular-tiempo__segundos{
    margin: 10px 0;
    width: 260px;
}
.contenedor-respuesta__boton-calcular{
    width: auto;
    height: 40px;
    margin: 10px 0;
}
.contenedor-respuesta{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    height: max-content;
    width: max-content;
}
.contenedor-respuesta__respuesta-usuario{
    color: #fff;
    font-size: 30px;
}
