body{
    background-color: slategray;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: aliceblue;
    width: 600px;
    height: 300px;
    border-radius: 10px;
}
.formulario-ingresos{
    display: flex;
    margin: 15px 0;
    height: 50px;
    width: 100%;
    justify-content: space-around;
}
.formulario-ingresos__sueldo-anual,
.formulario-ingresos__sueldo-mensual,
.formulario-ingresos__sueldo-mes-dos{
    height: 50px;
}
.formulario-ingresos__calcular-ingresos-mes,
.formulario-ingresos__calcular-ingresos-anio,
.formulario-ingresos__calcular-ingresos-dia{
    height: 30px;
    align-self: center;
}
.formulario-ingresos__ingreso-mensual,
.formulario-ingresos__ingreso-anual,
.formulario-ingresos__ingreso-diario{
    height: 50px;
    color: black;
}
