body{
    background-color: rgb(21, 221, 154);
}
.contenedor-lista{
    display: flex;
    margin: auto;
    padding: 10px;
    height: max-content;
    width: max-content;
}
.lista{
    display: flex;
    list-style: none;
}
.lista__item{
    margin: 10px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: coral;
    border-radius: 10px;
}
.botones{
    display: flex;
    align-self: center;
    margin: auto;
    margin-top: 50px;
    height: max-content;
    width: max-content;
}
button{
    margin: 15px;
    padding: 10px;
    height: max-content;
    width: max-content;
}
.contenedor-respuesta{
    display: flex;
    flex-direction: column; 
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    height: max-content;
    width: max-content;
}
em{
    margin: 10px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
