body{
	background-color: #6495ed;
}
.contenedor{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 20px;
	height: max-content;
	width: max-content;
	align-items: center;
	border: 2px solid black;
	border-radius: 10px;
	background-color: beige;
}
.contenedor-titulo{
	height: max-content;
	width: max-content;
	text-align: center;
}
.titulo{
	font-size: 25px;
	font-family: sans-serif;
}
.contenedor-formulario{
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
	width: 100%;
}
.formulario{
	display: flex;
	flex-direction: column;
	align-self: center;
}
.formulario-input{
	height: 30px;
	width: 200px;
	margin: 5px 0;
}
.formulario-enviar{
	width: 210px;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #6495ed;
	border-radius: 5px;
}
.boton-calcular,
.boton-resetear{
	width: 210px;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #6495ed;
	border-radius: 5px;
	align-self: center;
}
.formulario-enviar:hover,
.boton-calcular:hover,
.boton-resetear:hover{
	color: #fff;
	background-color: #6495ed;
	border: 1px solid black;
}
.contenedor-respuesta{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.respuesta-familiar-mayor,
.respuesta-familiar-menor,
.respuesta-promedio-edad-familia{
	margin: 10px;
	font-size: 25px;
	font-family: cursive;
	color: white;
}
#oculto{
	display: none;
}