body{
	background-color: #6495ed;
}
.contenedor{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 20px;
	height: max-content;
	width: max-content;
	align-items: center;
	border: 2px solid black;
	border-radius: 10px;
	background-color: beige;
}
.contenedor-titulo{
	height: max-content;
	width: max-content;
	text-align: center;
}
.contenedor-titulo__titulo{
	font-size: 25px;
	font-family: sans-serif;
}
.contenedor-formulario{
	display: flex;
	justify-content: center;
	height: max-content;
	width: 100%;
}
.contenedor-formulario__input{
	height: 30px;
	width: 200px;
	margin: 5px 0;
}
.contenedor-formulario__formulario{
	display: flex;
	flex-direction: column;
}
.contenedor-formulario__enviar,
.contenedor-formulario__resetear{
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #6495ed;
	border-radius: 5px;
}
.contenedor-formulario__enviar:hover,
.contenedor-formulario__resetear:hover{
	color: #fff;
	background-color: #6495ed;
	border: 1px solid black;
}
.respuesta{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.respuesta__usuario-familiar-mayor,
.respuesta__usuario-familiar-menor,
.respuesta__usuario-promedio-edad-familia{
	margin: 10px;
	font-size: 25px;
	font-family: cursive;
	color: white;
}
